#contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding: 50px;
}
#contact .container .contact-info p a {
  text-decoration: none;
  color: rgba(75, 73, 73, 1);
}
#xyz i:hover{
    background-color: #fff;
    color: rgba(75, 73, 73, 0.7);
}
.contact-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-info h2 {
  color: rgba(75, 73, 73, 1);
  font-size: 30px;
}
.contact-form form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.7);
}
.contact-form form textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  overflow: hidden;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.7);
}
.contact-form th {
  color: rgba(75, 73, 73, 1);
  color: #fff;
  font-size: 25px;
}
.contact-form td{
    padding: 10px 0;
}
.contact-info p {
  color: rgba(75, 73, 73, 0.7);
}
.container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.contact-info,
.contact-form {
  width: 45%;
  height: auto;
  padding-bottom: 30px;
}
.contact-form {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  background-image: linear-gradient(270deg, rgba(0, 0, 225, 0.8), #fff);
  box-shadow: 20px 20px 50px 15px rgba(0, 0, 0, 0.7);
}
.victory {
  width: auto;
  height: 20px;
}
.contact-form form table{
    width: 100%;
}
.contact-form form{
    width: 80%;
}
.submitbtn {
  background-color: rgba(0, 0, 225, 0.8);
  color: #fff;
  border: 0px;
  border-radius: 10px;
  height: 35px;
  padding: 0 10px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.7);
}
.submitbtn:hover{
    background-color: rgba(0, 0, 225, 1.5);
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
  .contact-info,
  .contact-form {
    width: 100%;
  }
  .contact-form form input, textarea {
    width: 200px;
  }
  .contact-form {
    /* justify-content: center; */
    background-image: linear-gradient(
      315deg,
      rgba(0, 0, 225, 0.3),
      rgba(0, 0, 225, 0.8)
    );
  }
}
#xyz i{
    background-color: rgba(75, 73, 73, 0.7);
    color: #fff;
    border-radius: 50%;
    padding: 5px;
}
