#skills p {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}
#skills {
  background-image: linear-gradient(
    315deg,
    rgb(0, 0, 255),
    rgb(27, 4, 75)
  );
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 50px;
  height: auto;
}
@media screen and (max-width:992px){
    #skills .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width:768px){
    #skills .grid-container{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 600px) {
    #skills .grid-container{
        display: grid;
        grid-template-columns: auto;
    }

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  gap: 15px;
  padding: 10px;
  width: 80%;
}
.grid-item {
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(252, 252, 252, 0.423);
  text-align: center;
  color: #fff;
}
.grid-item img{
    height: 100px;
    width: 150px;
}
.grid-item .xyz{
    width: 100px;
}
